/* Light Mode */
.app {
  text-align: center;
  padding: 20px;
  background-color: white;
  color: black;
  min-height: 100vh;
}

/* Dark Mode */
.app.dark {
  background-color: #121212;
  color: white;
}

/* Toggle Button */
.toggle-btn {
  padding: 10px 15px;
  margin-bottom: 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

.toggle-btn:hover {
  background-color: #0056b3;
}
